.container {
  display: flex;
  height: 85vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative; /* To position overlay and logo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  transition: flex 0.6s ease-in-out, opacity 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease;
}

.logo {
  /* position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease, transform 0.3s ease; */
  margin-right: 12px;
}

.section h2 {
  color: white;
  margin: 0;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.section p {
  color: white;
  font-size: 1rem;
  margin-top: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}



@media only screen and (max-width: 600px) {
  .container {
   flex-direction: column;
  }
  .section {
    overflow: auto;
  }
  .btnp {
  margin-top: 4px;
  }
}
